body {
    font-family: Arial, sans-serif;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #f1f1f1;
}

ul li {
    position: relative;
    display: inline-block;
}

ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
}

ul ul {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 1;
    width: 200px; /* Ajusta el ancho según tus necesidades */
    top: 100%; /* Coloca el submenú debajo del elemento padre */
    left: 0; /* Coloca el submenú a la izquierda del elemento padre */
}

ul ul li {
    display: block;
}

ul li:hover > ul {
    display: block;
}
